<h1>Log In</h1>

<%= form_for(@user, url:sessions_path) do |u| %>
  <%= u.label :name %>
  <%= u.text_field :name %>
  <%= u.label :password %>
  <%= u.text_field :password %>

  <%= u.submit 'Sign In' %>
<% end %> 
