<h1>Welcome to the Amusement Park, <%=current_user.name%></h1>


<% if @message %>
    <p><%= @message %></p>
<% end %>

<%if @user.admin%>
  <p><h3>ADMIN</h3></p>
<%end%><br>

<p><strong>Name:</strong> <%= @user.name %></p>
<p><strong>Tickets:</strong> <%= @user.tickets %></p>
<p><strong>Mood:</strong>  <%= @user.mood %></p>
<p><strong>Height:</strong> <%= @user.height %> inches</p><br>

<%= link_to 'Edit', edit_user_path %><br>
<%= link_to 'See attractions', attractions_path %>
