<h1><%= @user.name %></h1>
<h2>Mood: <%= @user.mood %></h2>
<h3>height: <%= @user.height %></h3>
<h3>happiness: <%= @user.happiness %></h3>
<h3>nausea: <%= @user.nausea %></h3>
<h3>tickets: <%= @user.tickets %></h3>
