<% if @message %>
  <p><%= @message.inspect %></p>
<% end %>

<div>
  <% if @user.admin %>
    <h1>ADMIN</h1>
  <% end %>

	Name: <%= @user.name %>
	Tickets: <%= @user.tickets %>
	Mood: <%= @user.mood %>
	Height: <%= @user.height %>


	<%= link_to "See attractions", attractions_path %><br><br>
  <%= link_to "Edit", edit_user_path(@user) %>


</div>
